<% if @post.errors.any?%>
  <div id="error_explanation">
    <h2 class="font-weight-bold text-center display-4">
      Se han encontrado <%= pluralize(@post.errors.count, "errores")%>:
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |message|%>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h1 class="font-weight-bold text-center display-2">Post publicado con exito! :)</h1>
<% end %>
