<div class="row">
  <div class="col-8">
    <h1 class="font-weight-bold text-center display-2">Formulario para creación del articulo</h1>
    <form method="post" action="/pages/create" id="create_post">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="form-group">
        <label for="image_url">Imagen</label>
        <input type="url" class="form-control" name="image_url" id="image_url">
      </div>
      <div class="form-group">
        <label for="content">Contenido</label>
        <textarea class="form-control" name="content" id="content" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Subir</button>
    </form>
  </div>
</div>
